<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Automate Session Details</title>
    <link rel="icon" type="image/png" href="static/images/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='util.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='jquery-3.3.1.js') }}"></script>
    <script>
    $(document).ready(function() {
        $(".showdiv").click(function () {
        $(".cinfo").show();
      });
        $(".hidediv").click(function () {
        $(".cinfo").hide();
      });
    });
    </script>
    <script type="text/javascript">

      function searchRows(tblId) {
      var tbl = document.getElementById(tblId);
      var headRow = tbl.rows[0];
      var arrayOfHTxt = new Array();
      var arrayOfHtxtCellIndex = new Array();

      for (var v = 0; v < headRow.cells.length; v++) {
       if (headRow.cells[v].getElementsByTagName('input')[0]) {
       var Htxtbox = headRow.cells[v].getElementsByTagName('input')[0];
        if (Htxtbox.value.replace(/^\s+|\s+$/g, '') != '') {
          arrayOfHTxt.push(Htxtbox.value.replace(/^\s+|\s+$/g, ''));
          arrayOfHtxtCellIndex.push(v);
        }
       }
      }

      for (var i = 1; i < tbl.rows.length; i++) {
          tbl.rows[i].style.display = 'table-row';
          for (var v = 0; v < arrayOfHTxt.length; v++) {
              var CurCell = tbl.rows[i].cells[arrayOfHtxtCellIndex[v]];
              var CurCont = CurCell.innerHTML.replace(/<[^>]+>/g, "");
              var reg = new RegExp(arrayOfHTxt[v] + ".*", "i");
              if (CurCont.match(reg) == null) {
                  tbl.rows[i].style.display = 'none';
             }
          }
        }
      }
  </script>
  </head>
  <body>
    <div class="back-to-upload">
      <a href="/upload"><< Back to Upload Page</a>
    </div>
    <div class="table-container">
      <table class="steelBlueCols" id="my_table">
        <thead>
          <tr>
            <th>S.No</th>
            <th>Created Day
              <input onkeyup="searchRows('my_table')" type="text"/>
            </th>
            <th>User ID
              <input onkeyup="searchRows('my_table')" type="text"/>
            </th>
            <th>Build Name
              <input onkeyup="searchRows('my_table')" type="text"/>
            </th>
            <th>Build ID
              <input onkeyup="searchRows('my_table')" type="text"/>
            </th>
            <th>Session Name
              <input onkeyup="searchRows('my_table')" type="text"/>
            </th>
            <th>Session ID
              <input onkeyup="searchRows('my_table')" type="text"/>
            </th>
            <th>Duration
              <input onkeyup="searchRows('my_table')" type="text"/>
            </th>
            <th>Inside Time
              <input onkeyup="searchRows('my_table')" type="text"/>
            </th>
            <th>Outside Time
              <input onkeyup="searchRows('my_table')" type="text"/>
            </th>
            <th>Start Time
              <input onkeyup="searchRows('my_table')" type="text"/>
            </th>
            <th>End Time
              <input onkeyup="searchRows('my_table')" type="text"/>
            </th>
            <th>OS
              <input onkeyup="searchRows('my_table')" type="text"/>
            </th>
            <th>OS Version
              <input onkeyup="searchRows('my_table')" type="text"/>
            </th>
            <th>Browser
              <input onkeyup="searchRows('my_table')" type="text"/>
            </th>
            <th>Browser Version
              <input onkeyup="searchRows('my_table')" type="text"/>
            </th>
            <th>Status
              <input onkeyup="searchRows('my_table')" type="text"/>
            </th>
            <th>Zero To Two</th>
            <th>Two to Five</th>
            <th>Six to Ten</th>
            <th>Ten to Fifteen</th>
            <th>More than Fifteen</th>
          </tr>
        </thead>
        <tbody>
          {% for index in range(0, output_list|length) %}
            <tr>
              <td data-column="S.No"> {{ index + 1 }} </td>
              <td data-column="Created Day">{{ output_list[index]['created_day']}}</td>
              <td data-column="User ID">{{ output_list[index]['user_id']}}</td>
              <td data-column="Build Name">{{ output_list[index]['build_name']}}</td>
              <td data-column="Build ID">{{ output_list[index]['build_id']}}</td>
              <td data-column="Session Name">{{ output_list[index]['session_name']}}</td>
              <td data-column="Session ID">{{ output_list[index]['session_id']}}</td>
              <td data-column="Duration">{{ output_list[index]['session_duration']}}</td>
              <td data-column="Inside Time">{{ output_list[index]['inside_time'] }}</td>
              <td data-column="Outside Time">{{ output_list[index]['outside_time']}}</td>
              <td data-column="Start Time">{{ output_list[index]['session_start_time'] }}</td>
              <td data-column="End Time">{{ output_list[index]['session_end_time']}}</td>
              <td data-column="OS">{{ output_list[index]['os']}}</td>
              <td data-column="OS Version">{{ output_list[index]['os_version']}}</td>
              <td data-column="Browser">{{ output_list[index]['browser']}}</td>
              <td data-column="Browser Version">{{ output_list[index]['browser_version']}}</td>
              <td data-column="Status">{{ output_list[index]['status']}}</td>
              <td data-column="Zero To Two">
                <button class="hidediv">Collapse</button>
                <button class="showdiv">Expand</button>
                <div class="resinsec">
                  {{ output_list[index]['zero_to_two']}}
                </div>
                  {% for i in range(0, output_list[index]['command_information']|length) %}
                    {% if output_list[index]['command_information'][i]['command_time_group'] == 'zero_to_two' %}
                      <div class="cinfo">
                        {{ output_list[index]['command_information'][i]['command_description'] }}
                      </div>
                    {% endif %}
                  {% endfor %}
              </td>
              <td data-column="Two to Five">
                <div class="resinsec">
                  {{ output_list[index]['two_to_five']}}
                </div>
                  {% for i in range(0, output_list[index]['command_information']|length) %}
                    {% if output_list[index]['command_information'][i]['command_time_group'] == 'two_to_five' %}
                      <div class="cinfo">
                        {{ output_list[index]['command_information'][i]['command_description'] }}
                      </div>
                    {% endif %}
                  {% endfor %}
              </td>
              <td data-column="Six to Ten">
                <div class="resinsec">
                  {{ output_list[index]['six_to_ten']}}
                </div>
                  {% for i in range(0, output_list[index]['command_information']|length) %}
                    {% if output_list[index]['command_information'][i]['command_time_group'] == 'six_to_ten' %}
                      <div class="cinfo">
                        {{ output_list[index]['command_information'][i]['command_description'] }}
                      </div>
                    {% endif %}
                  {% endfor %}
              </td>
              <td data-column="Ten to Fifteen">
                <div class="resinsec">
                  {{ output_list[index]['ten_to_fifteen']}}
                </div>
                  {% for i in range(0, output_list[index]['command_information']|length) %}
                    {% if output_list[index]['command_information'][i]['command_time_group'] == 'ten_to_fifteen' %}
                      <div class="cinfo">
                        {{ output_list[index]['command_information'][i]['command_description'] }}
                      </div>
                    {% endif %}
                  {% endfor %}
              </td>
              <td data-column="More than Fifteen">
                <div class="resinsec">
                  {{ output_list[index]['more_than_fifteen']}}
                </div>
                  {% for i in range(0, output_list[index]['command_information']|length) %}
                    {% if output_list[index]['command_information'][i]['command_time_group'] == 'more_than_fifteen' %}
                      <div class="cinfo">
                        {{ output_list[index]['command_information'][i]['command_description'] }}
                      </div>
                    {% endif %}
                  {% endfor %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      </div>
    </div>
  </body>
</html>