{% extends "layout.html" %}
{% block head %}
{{ super() }}
<script type="text/javascript">
$(document).ready(function() {
  $('.cinfo').hide();
  $('#shownhide').on('click', function() {
    $('.cinfo').toggle(100);
    $('#shownhide').text('Hide');
  });
});
</script>
{% endblock %}

{% block content %}
<div class="table-container">
  <table class="steelBlueCols" id="my_table">
    <thead>
      <tr>
        <th>S.No</th>
        <th>Created Day
          <input onkeyup="searchRows('my_table')" type="text" style="color:black"/>
        </th>
        <th>User ID
          <input onkeyup="searchRows('my_table')" type="text" style="color:black"/>
        </th>
        <th>Build Name
          <input onkeyup="searchRows('my_table')" type="text" style="color:black"/>
        </th>
        <th>Build ID
          <input onkeyup="searchRows('my_table')" type="text" style="color:black"/>
        </th>
        <th>Session Name
          <input onkeyup="searchRows('my_table')" type="text" style="color:black"/>
        </th>
        <th>Session ID
          <input onkeyup="searchRows('my_table')" type="text" style="color:black"/>
        </th>
        <th>Duration</th>
        <th>Inside Time Sec</th>
        <th>Outside Time Sec</th>
        <th>Outside Time Percent</th>
        <th>Start Time
          <input onkeyup="searchRows('my_table')" type="text" style="color:black"/>
        </th>
        <th>End Time
          <input onkeyup="searchRows('my_table')" type="text" style="color:black"/>
        </th>
        <th>OS
          <input onkeyup="searchRows('my_table')" type="text" style="color:black"/>
        </th>
        <th>OS Version
          <input onkeyup="searchRows('my_table')" type="text" style="color:black"/>
        </th>
        <th>Browser
          <input onkeyup="searchRows('my_table')" type="text" style="color:black"/>
        </th>
        <th>Browser Version
          <input onkeyup="searchRows('my_table')" type="text" style="color:black"/>
        </th>
        <th>Status
          <input onkeyup="searchRows('my_table')" type="text" style="color:black"/>
        </th>
        <th>
          <button id="shownhide" style="color: black;">Show</button>
          Zero To Two
          <input onkeyup="searchRows('my_table')" type="text" style="color:black"/>
        </th>
        <th>Two to Five
          <input onkeyup="searchRows('my_table')" type="text" style="color:black"/>
        </th>
        <th>Six to Ten
          <input onkeyup="searchRows('my_table')" type="text" style="color:black"/>
        </th>
        <th>Ten to Fifteen
          <input onkeyup="searchRows('my_table')" type="text" style="color:black"/>
        </th>
        <th>More than Fifteen
          <input onkeyup="searchRows('my_table')" type="text" style="color:black"/>
        </th>
      </tr>
    </thead>
    <tbody>
      {% for index in range(0, output_list|length) %}
        <tr>
          <td data-column="S.No"> {{ index + 1 }} </td>
          <td data-column="Created Day">{{ output_list[index]['created_day']}}</td>
          <td data-column="User ID">{{ output_list[index]['user_id']}}</td>
          <td data-column="Build Name">{{ output_list[index]['build_name']}}</td>
          <td data-column="Build ID">{{ output_list[index]['build_id']}}</td>
          <td data-column="Session Name">{{ output_list[index]['session_name']}}</td>
          <td data-column="Session ID">{{ output_list[index]['hashed_id']}}</td>
          <td data-column="Duration">{{ output_list[index]['duration']}}</td>
          <td data-column="Inside Time Sec">{{ output_list[index]['inside_time_sec'] }}</td>
          <td data-column="Outside Time Sec">{{ output_list[index]['outside_time_sec']}}</td>
          <td data-column="Outside Time Percent">{{ output_list[index]['outside_time_percent']}}</td>
          <td data-column="Start Time">{{ output_list[index]['session_start_time'] }}</td>
          <td data-column="End Time">{{ output_list[index]['session_end_time']}}</td>
          <td data-column="OS">{{ output_list[index]['os']}}</td>
          <td data-column="OS Version">{{ output_list[index]['os_version']}}</td>
          <td data-column="Browser">{{ output_list[index]['browser']}}</td>
          <td data-column="Browser Version">{{ output_list[index]['browser_version']}}</td>
          <td data-column="Status">{{ output_list[index]['status']}}</td>
          <td data-column="Zero To Two">
            <div class="resinsec">
              {{ output_list[index]['zero_to_two']}}
            </div>
              {% for i in range(0, output_list[index]['command_information']|length) %}
                {% if output_list[index]['command_information'][i]['command_time_group'] == 'zero_to_two' %}
                  <div class="cinfo">
                    {{ output_list[index]['command_information'][i]['command_description'] }}
                  </div>
                {% endif %}
              {% endfor %}
          </td>
          <td data-column="Two to Five">
            <div class="resinsec">
              {{ output_list[index]['two_to_five']}}
            </div>
              {% for i in range(0, output_list[index]['command_information']|length) %}
                {% if output_list[index]['command_information'][i]['command_time_group'] == 'two_to_five' %}
                  <div class="cinfo">
                    {{ output_list[index]['command_information'][i]['command_description'] }}
                  </div>
                {% endif %}
              {% endfor %}
          </td>
          <td data-column="Six to Ten">
            <div class="resinsec">
              {{ output_list[index]['six_to_ten']}}
            </div>
              {% for i in range(0, output_list[index]['command_information']|length) %}
                {% if output_list[index]['command_information'][i]['command_time_group'] == 'six_to_ten' %}
                  <div class="cinfo">
                    {{ output_list[index]['command_information'][i]['command_description'] }}
                  </div>
                {% endif %}
              {% endfor %}
          </td>
          <td data-column="Ten to Fifteen">
            <div class="resinsec">
              {{ output_list[index]['ten_to_fifteen']}}
            </div>
              {% for i in range(0, output_list[index]['command_information']|length) %}
                {% if output_list[index]['command_information'][i]['command_time_group'] == 'ten_to_fifteen' %}
                  <div class="cinfo">
                    {{ output_list[index]['command_information'][i]['command_description'] }}
                  </div>
                {% endif %}
              {% endfor %}
          </td>
          <td data-column="More than Fifteen">
            <div class="resinsec">
              {{ output_list[index]['more_than_fifteen']}}
            </div>
              {% for i in range(0, output_list[index]['command_information']|length) %}
                {% if output_list[index]['command_information'][i]['command_time_group'] == 'more_than_fifteen' %}
                  <div class="cinfo">
                    {{ output_list[index]['command_information'][i]['command_description'] }}
                  </div>
                {% endif %}
              {% endfor %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}