{% extends "layout.html" %}

{% block content %}
<div class="sqlquery">
  SELECT
    DATE(created_day) AS created_day,
    user.user_id AS user_id,
    build_name,
    build_id,
    session_name,
    hashed_id,
    os,
    os_version,
    browser,
    browser_version,
    status
  <br>FROM
    [browserstack-production:automate.automate_test_sessions_partitioned]
  <br>WHERE</br>
    _PARTITIONTIME >= "2019-06-14 00:00:00"
    AND _PARTITIONTIME < "2019-06-15 00:00:00"
    AND created_at >= "2019-06-14 00:00:00"
    AND created_at < "2019-06-15 00:00:00"
    AND user.group_id = 2
  <br>LIMIT
    100
</div>
<div class="log-form file-upload-form">
  <form action="{{ url_for('aut_vid_result') }}" method="POST" enctype="multipart/form-data">
    <input type="file" name="file" id="fileToUpload" accept="text/csv">
    <!--<div class="check_app_automate">-->
      <!--<label>Check for App Automate:</label>-->
      <!--<input type="checkbox" name="app_automate" id="app_automate">-->
    <!--</div>-->
    <input class="btn" type="submit" value="Upload File" name="submit">
  </form>
  {% if error %}
    <p class="error"><strong>Error:</strong> {{ error }}
    {% endif %}
</div>
{% endblock %}