<!DOCTYPE html>
<html>
  <head>
    <title>Automate Debugger</title>
    <link rel="icon" type="image/png" href="static/images/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='util.css') }}">
  </head>
  <body>
  <div class="sqlquery">
    SELECT
      DATE(created_day) as created_day,
      user_id,
      build_name,
      build_id,
      session_name,
      hashed_id,
      ROUND(duration, 2) as duration,
      ROUND(bs_latency_mean, 3) as inside_time,
      ROUND(( duration - bs_latency_mean ), 3) as outside_time,
      os,
      os_version,
      browser,
      browser_version,
      status
    <br>FROM</br>
      [browserstack-1299:automate.partitioned_automation_session_stats]
    <br>WHERE</br>
      _PARTITIONTIME >= "2019-05-10 00:00:00"
      AND _PARTITIONTIME <= "2019-05-11 00:00:00"
      AND group_id = 2
    <br>LIMIT</br>
      100
  </div>
    <div class="log-form file-upload-form">
      <form action="upload.html" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" id="fileToUpload" accept="text/csv">
        <div class="check_app_automate">
          <label>Check for App Automate:</label>
          <input type="checkbox" name="app_automate" id="app_automate">
        </div>
        <input class="btn" type="submit" value="Upload File" name="submit">
      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
        {% endif %}
    </div>
  </body>
</html>